:root {
background-color: #132A3B;

/* --link-detalhe: #1CA3C4;
--detalhes-destaque: #54DEFD;
--fundo-principal: #FFFBFA;
--aviso-destaque: #FEC968;
--fundo-escuro: #132A3B; */

--principal: #00c0ec;
--contraste: #fed54e;
--cor-fundo: #18133b;
--harmonizacao: #7330d065;

  background-image: url('./imagens/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

