p {
    margin: 0px;
}

.container-conteudo{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
}

.fodase {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 50px;

}