.merchandise-container {
    display: flex;
    height: fit-content;
    width: 80%;
    background-color: var(--cor-3);
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}

.merchandise-area {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
}