.cont-body {
    height: calc(100vh - 200px);
    width: 50%;
    border-radius: 30px;
    padding: 1rem;
    margin-top: 15px;
    color: white;
}

.container-botao {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: center;
    height: 40%;
    width: 100%;
}

.descricao {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 15px black;
    width: 50%;
    background-color: var(--harmonizacao);
    border-radius: 40px;
    padding-left: 20px;
}

.descricao h2 {
    padding: 20px;
}

.cont-body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 2px 15px black;
    padding: 20px;
    font-size: 20px;
}

h2 {
    font-size: 35px;

}

* {
    font-size: 26px;
}

