.container-botao {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.button-destaques{
    transition: 0.3s ease transform, 0.3s ease box-shadow;
    border-radius: 15px;
    font-size: 22px;
    width: 60%;
    height: 40%;
    background-color: var(--contraste);
    border: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-destaques:hover {
    transition: 0.3s ease transform, 0.3s ease box-shadow;
    box-shadow: 0 0 30px var(--contraste);
    transform: scale(1.05);
}