.container-botao {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.button-destaques{
    transition: 0.3s ease transform, 0.3s ease box-shadow, 0.5s ease color, 0.3s ease font-size;
    border-radius: 40px;
    font-size: 30px;
    padding: 35px 60px;
    background-color: var(--contraste);
    border: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-destaques:hover {
    transition: 0.3s ease transform, 0.3s ease box-shadow, 0.5s ease color, 0.3s ease font-size;
    color: white;
    box-shadow: 0 0 10px var(--contraste);
    transform: scale(1.05);
    font-size: 32px;
}