.calculadora-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 12px;
    min-height: 350px;
    background-color: cornflowerblue;
    color: white;

}

.calculadora-container input {
    font-size: 18px;
    text-align: center;
    width: 40%;
    height: 40px;
    border-radius: 12px;
    
}