html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 0);
    height: 100%;
}

#top {
    display: flex;
    height: 20%;
    background-color: rgb(58, 255, 87);
}

#mid {
    display: flex;
    height: 70%;
    background-color: orange;
}

    #mid-left {
    height: 100%;
    width: 40%;
    background-color: rebeccapurple;
    }

    #mid-right {
    height: 100%;
    width: 60%;
    background-color: pink;

    display: flex;
    justify-content: space-around;
    align-items: center;
    }

#bottom {
    display: flex;
    height: 15%;
    background-color: cornflowerblue;
}

